<header>
	<nav class="navbar navbar-expand-lg navbar-dark navbar-modern fixed-top">
		<div class="container">
			<a class="navbar-brand logo" href="{{ path('home') }}">
				<i class="fas fa-code text-primary"></i>
				TCG Yu-Gi-Oh
			</a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav4">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarNav4">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item">
						<a class="nav-link" href="#">Chercher une carte</a>
					</li>
					{% if app.user %}
						<li class="nav-item">
							<a class="nav-link" href="#">Ma collection</a>
						</li>
					{% endif %}
					<li class="nav-item">
						<a class="nav-link" href="https://github.com/GillesNC">
							<i class="fab fa-github"></i>
						</a>
					</li>
					{% if app.user %}
						<li class="nav-item">
							<a class="btn btn-warning ms-2 bi bi-person-fill" href="{{ path('home') }}"></a>
						</li>
						<li class="nav-item">
							<a class="btn btn-outline-danger ms-2" href="{{ path('app_logout') }}">Déconnexion</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="btn btn-outline-warning ms-2" href="{{ path('app_login') }}">Connexion</a>
						</li>
						<li class="nav-item">
							<a class="btn btn-primary ms-2" href="{{ path('register') }}">Inscription</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
</header>
